@{
    Layout = "_Layout";
}
@{
    Html.RenderPartial("_HeaderNavBar");
}
<h1 class="comentarioSucesso">O seu comentário será avaliado, e, se seguir os parâmetros,<br> será postado na aba de comentários, obrigado por interagir e pela compreensão!</h1>